
@{
    ViewBag.Title = "Action2";
}

    <h5 style="color:steelblue">this is Action 2 in SimpleSecurity Area </h5>
    <p class=" text-danger"> if you are able to see this Page,you are [Login]  </p>

