
@{
    ViewBag.Title = "Action3";
}

    <h5 style="color:brown">this is Action 3 in SimpleSecurity Area </h5>
    <p class=" text-danger"> if you are able to see this Page,your Username should be [Dariush] and you are [Administrator] </p>

