<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:gray; width:600px;height:600px;">
        <h3 style="color:blue;">Good Afternoon</h3>
        @RenderBody()
    </div>
</body>
</html>
