@model ViewModels.Learn05ViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>learn05</title>
</head>
<body>
    <div>
        <p class="text-primary">your name is @(Model.Name)</p>
        <p class="text-primary">your age is @(Model.Age)</p>
        <p class="text-primary">your birthdate is @(Model.BirthDate)</p>
        <p class="text-primary">your car is @(Model.CarModel)</p>
    </div>
</body>
</html>
