
@{
    ViewBag.Title = "learn04";
    Layout = "~/Views/Shared/Layouts/_DefaultLayout.cshtml";
}

<h2>learn04</h2>

<p class="text-primary">@ViewData["ViewDataMessage"]</p>
<p class="text-primary">@ViewBag.ViewDataMessage</p>
<p class="text-primary">@ViewData["ViewBagMessage"]</p>
<p class="text-primary">@ViewBag.ViewBagMessage</p>