
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_LayoutValidation.cshtml";
}

<h2>This is Index</h2>
<br />
@for (int index = 1; index < 31; index++)
{
    if (index <= 9)
    {
        @Html.ActionLink(linkText: $"{index}) Learn0{index}", actionName: $"learn0{index}", routeValues: new { Area = "" }, htmlAttributes: new { @class = "navbar-brand" })
        <br />
    }
    else
    {

        @Html.ActionLink(linkText: $"{index}) Learn{index}", actionName: $"learn{index}", routeValues: new { Area = "" }, htmlAttributes: new { @class = "navbar-brand" })
        <br />
    }
}


